body{
    margin: 0;
    text-align: center;
}
h3{
    font-size: 2rem;
    padding: 50px;
}
.card{
    display: inline-block;
    margin: 50px;
}
.container-list{
    display: inline;
}
.write{
    margin: 25px auto;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
}
.write:focus{
    outline: 0px;
    box-shadow: none;
    border-radius: 20px;
    border-color: blue;
}
.add-icon-background{
    display: inline;
    margin: auto 25px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 50px ;
    /* display: none; */
   
}
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  